* {
    box-sizing: border-box;
}

.text {
    text-align: center;
    color: var(--green);
    margin: 0 auto;
}
main.games{
    margin: 1% 5% 1% 5%;

}
.games-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px 20px;
    list-style: none;
    padding: 0;
    text-align: center;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.game {
    width: 70%;
    min-width: 250px;
    max-height: 350px;
    height: 300px;
    border-radius: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
}

.game:hover {
    transform: scale(1.05);
    opacity: 0.9;
    filter: brightness(1.2);
}

h3 {
    margin: 10px 0px 10px 0px;
    font-size: 1.2rem;
}

h3 a {
    text-decoration: none;
    color: var(--biege);
    font-weight: bold;
    display: inline-block;
    transition: filter 0.3s ease;
}

h3 a:hover {
    filter: brightness(1.2);
    color: var(--yellow);
    transform: scale(1.05);
}

.enshrouded {
    background-image: url('/img/enshrouded.png');
}

.minecraft {
    background-image: url('/img/minecraft.jpg');
}

.palworld {
    background-image: url('/img/palworld.png');
}

@media (max-width: 600px) {
    .game {
        height: 300px;
    }
}