main {
    text-align: center;
}

main#text>p {
    width: 45%;
    margin: 0 auto;
    margin-top: 2%;
    color: var(--beige);
    font-size: max(2vmax, 16px);
}

.link {
    display: inline-block;
    padding: 1em;
    color: var(--aqua);
}

#link {
    margin: 0 auto;
    display: inline-block;
    color: var(--aqua);
    font-size: 2em;
}

a:hover {
    color: var(--green);
}

#here{
    display: inline-flex;
    color: var(--beige);
}

#here:hover {
    color:var(--green);
    transform: scale(1.1);
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

h2 {
    width: 1vmin;
    min-width: 30vw;
    max-width: 2vmax;
    background: var(--gradient);
    padding: 1vh;
    margin-top: 1%;
    color: rgb(215, 190, 244);
    font-size: 4vmin;
    font-stretch: condensed;
    border: .2em solid #292727;
    margin: 0 auto;
}