.text {
    text-align: center;
    color: var(--green);
}

main > p {
    width: 45%;
    height: auto;
    text-align: justify;
    margin: 0 auto;
    margin-top: 3rem;
    float: none;
    display: block;
    color: var(--beige);
    font-size: max(2.2vmin, 15px);
    white-space: normal;
    text-indent: 1em;
}