:root {
    --beige: rgb(245, 245, 219);
    --gradient: linear-gradient(110deg, rgb(21, 19, 31), rgb(98, 53, 124));
}

html,
body {
    width: 100%;
}

main {
    text-align: center;
}

main#text>p {
    color: var(--beige);
}



body {
    font-family: Arial, sans-serif;
    width: 100%;
    margin: auto;
    background: url(../img/background.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

#banner {
    background: url(../img/banner.jpg);
    width: auto;
    display: block;
    margin-top: 3em;
    margin-bottom: 0 auto;
    height: 33em;
    background-size: 100%;
    background-position: top;
    background-position: center;
    background-repeat: no-repeat;
}

ul.links {
    color: var(--beige);
    width: 3em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style-position: outside;
    padding-left: 1%;
}

a {
    color: var(--beige);
}

h2 {
    width: 38%;
    background: var(--gradient);
    padding: .5em;
    color: rgb(206, 185, 232);
    font-family: Arial, Helvetica, sans-serif;
    border: .2em solid #000000;
    margin: 0% 30% 0% 30%;
}

#nav_menu {
    max-width: 100%;
    margin: 0 auto;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #212020fb;
    padding: 0 20px;
}

#nav_menu ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
}

#nav_menu ul li {
    float: left;
    display: inline-block;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 200px;
    padding: 18px;
    text-decoration: none;
    background: var(--gradient);
    color: #d6c4c4;
    font-weight: bold;
    border-right: .2em solid rgb(18, 14, 14);
}

#nav_menu ul li a:hover {
    background-color: rgb(7, 2, 14);
}

#nav_menu ul li a.lastitem {
    border-right: none;
}

.bs {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #f0ffff;
}